/* CSS HEX */
body {
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #ffffffff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
    --fiery-rose: #F45B69;
}

@font-face {
    font-family: NMCGroteskHeavy;
    font-weight: 800;
    src: url('./fonts/NMCGroteskv0.3-Heavy.otf');
}

@font-face {
    font-family: NMCGroteskRegular;
    font-weight: 400;
    src: url('./fonts/NMCGroteskv0.3-Medium.otf')
}

@font-face {
    font-family: NMCRedMono;
    src: url('./fonts/Intro-Monov1.01GX.ttf')
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;

}

.dashboard__left {
    flex: 0 0 max-content;
    background-color: var(--ming);

}

.dashboard__left__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard__left__menu__logo {
    flex: 1 0 auto;
    color: var(--white);
    font-weight: bold;
    font-family: NMCGroteskHeavy;
    font-size: 4rem;
    margin-top: -1rem;
    margin-right: 1rem;

}

.dashboard__left__menu__item {
    flex: 1 0 auto;
    margin-top: 1rem;
    font-family: NMCRedMono;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dashboard__left__menu__item--normal {
    color: var(--white);
    font-weight: bold;
    font-size: normal;
    text-decoration: none;

}

.dashboard__left__menu__item--selected {
    color: var(--fiery-rose);

}

.dashboard__left__menu__item a:hover {
    color: var(--fiery-rose)
    
}

.dashboard__left__menu__item a:active {
    color: var(--fiery-rose)
    
}

.dashboard__right {
    flex: 1 1 auto;
    background-color: var(--white);
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
}

.dashboard__right__page-display {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    overflow-y: auto;
}

.article-header {
    font-family: NMCRedMono;
}

